

/* Utilidades */

.margin-bottom-30px{
    margin-bottom: 30px;
}

.etiqueta{
    width: 150px;
    justify-content: center;
}

.max-width{
    max-width: 100%;
}

/*  Index  */

.img-hero{
    height: 250px;
    width: 100%;
}

/*Ingresar */

.contenedor{
    display: flex;
    justify-content: center;
    width: 35%;
    text-align: center;
    margin: 70px 0% 80px 31%;  

}

/*  Registrar*/

.Contenedor-form-registrar{
    display: block;
    text-align: center;
    max-width: 65%;
    margin-left: 17%;
    margin-top: -130px;
    background-color: rgba(204, 204, 204, 0.5);
    padding: 35px;
    border-radius: 1rem;
    margin-bottom: 60px;
}

.hero-registrar{
    width: 100%;
    height: 300px;
    background-image: url("/img/hero-registrar.jpg");

}

.msg-registro{
    border: 2px solid #ccc;
    padding: 10px;
    background-color: lightblue;
    margin-bottom: 25px;
    border-radius: 1rem;
}



/********* footer *******/

.footer1{
    background-color: #212529 !important;
    padding: 0px 80px;
}